<div class="about-container">
  <img src="assets/my-photo-2.JPG" alt="MY PHOTO">
  <h1>Ready to work with me?</h1>
  <h3>Short bio about me.</h3>
  <p>
    My name is Diana Ruiz Garcia. I was born in Tucson, AZ, but I lived my
    childhood and teenage years in Mexico. My first language is
    Spanish, and I have been learning English since I came to live in the
    United States. In high school, we had to choose a specialty to prepare
    for college, and I decided on programming because, at that time, it
    caught my attention the most. Once I started taking programming classes,
    I began to like website development and learn more about technology. Once
    I finished my studies in high school, I wanted to continue with a career
    in computer systems at a university in Mexico, where I specialized in
    software. While I was finishing my studies, I had the opportunity to work
    in a software company where my main focus was the development of mobile
    applications in Android. Still, we had training every month, and I was
    able to learn languages such as Swift, Python, Angular, and NodeJS,
    among others. That's when I realized that I was passionate about web
    development and how useful it can be for application development.
  </p>
</div>
