<h1>MY PROJECTS</h1>

<div class="project-container">
  <div class="column">
    <img src="assets/rpg-character-builder.png" alt="RPG-character-builder">
    <button class="title">RPG Character Builder</button>
    <p>
      RPG Character Builder is designed to cater to gamers and RPG enthusiasts.
    </p>
    <p><strong>Technologies used: </strong>Angular, TypeScript, HTML, CSS</p>
    <p>
      In this project, I learned how to use the Angular framework, write unit tests,
      implement template-driven forms, reactive forms, and dynamic forms,
      integration authentication, component communication, about HTTP requests, and how
      to deploy an Angular application.
    </p>
  </div>
  <div class="column">
    <img src="assets/bioSite.png" alt="bioSite">
    <a href="https://dyanaruizg.github.io/bioSite/">
      <button class="title">BioSite</button>
    </a>
    <p>
      BioSite is designed to tell my brother's story, and learn about his hobbies.
    </p>
    <p><strong>Technologies used: </strong>HTML, and CSS</p>
    <p>
      In this project, I learned the basics of HTML, including basic HTML tags, attributes,
      and elements, how to make responsive pages, import images and videos, including links,
      tables, and lists, use symbol entities, as well as using CSS to design, style and layout
      a web page, including colors, fonts, sizes, padding, margin, and borders.
    </p>
  </div>
  <div class="column">
    <img src="assets/in-n-out-books.png" alt="in-n-out-books">
    <a href="https://github.com/dyanaruizg/in-n-out-books">
      <button class="title">In-N-Out Books</button>
    </a>
    <p>
      In-N-Out Books is designed to show you trending books and find a variety of books to read.
    </p>
    <p><strong>Technologies used: </strong>NodeJS, Express, HTML, CSS</p>
    <p>
      In this project, I learned the core components of an Express application, how to build
      a web server, develop a JSON web service,  the role of CRUD operations, implementation
      of authentication and authorization in a web application, and the process and importance
      of deploying a web application.
    </p>
  </div>
</div>
