<div class="home-container">
  <div class="main-container">
    <div class="left">
      <div id="light-purple"></div>
      <div id="purple">
        <img src="/assets/my-photo.jpg" alt="My Photo" class="my-photo">
      </div>
    </div>

    <div class="right">
      <h1>Hi!<br>I'm Diana Ruiz Garcia</h1>
      <h3>Brief introduction to myself.</h3>
      <p>
        I'm a computer systems engineer specializing in software. My focus
        is building and managing websites and web applications. I am a
        very resourceful and ambitious person at the same time. I find
        solutions, am creative, and solve problems without needing help
        from colleagues or bosses. I know when to ask for help and take
        my time when needed. But when it is possible to take care of
        something without taking up other people's time, I do it and
        consider myself very good at it.
      </p>
    </div>
  </div>

  <div class="center">
    <div class="row">
      <h2>Bucket list of things I want to do</h2>
    </div>

    <div class="row">
      <div class="column">
        <ul>
          <li>- Tour all of Europe with my mom.</li>
          <li>- Discover my own country.</li>
          <li>- Travel on a cruise.</li>
          <li>- Plant my garden.</li>
          <li>- Visit at least one city in each state of Mexico.</li>
          <li>- Live at least three months abroad.</li>
          <li>- Travel in First Class.</li>
          <li>- Have a dog and cat sanctuary.</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>- Learn and master three languages ​(Spanish, English, and Korean).</li>
          <li>- See the seven wonders of the world.</li>
          <li>- Create my own business.</li>
          <li>- Travel around the world.</li>
          <li>- Attend a soccer World Cup.</li>
          <li>- Meet all my favorite artists.</li>
          <li>- Learn to play the piano and drums.</li>
          <li>- Travel by train.</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          <li>- Make a difference in the world.</li>
          <li>- Work on something I like.</li>
          <li>- Study for a master's degree.</li>
          <li>- Go skydiving.</li>
          <li>- Bathe in a waterfall.</li>
          <li>- See the northern lights.</li>
          <li>- Go camping wildly.</li>
          <li>- Have a collection of magnets from all the cities I've been to.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
